name: Pythonlint

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  python-isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "dpugen"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: false
          use-black: false
          use-mypy: false
          use-isort: true
          extra-isort-options: "--line-length 160 --wrap-length 80 --multi-line 3 --project dpugen --project dashgen --project saigen --force-grid-wrap 2"

  python-flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "dpugen"
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: false
          use-mypy: false
          use-isort: false
          extra-flake8-options: "--max-line-length 160"

  # python-black:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ricardochaves/python-lint@v1.4.0
  #       with:
  #         python-root-list: "dpugen"
  #         use-pylint: false
  #         use-pycodestyle: false
  #         use-flake8: false
  #         use-black: true
  #         use-mypy: false
  #         use-isort: false
  #         extra-black-options: ""

  python-pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "dpugen"
          use-pylint: true
          use-pycodestyle: false
          use-flake8: false
          use-black: false
          use-mypy: false
          use-isort: false
          extra-pylint-options: "--max-line-length=160 --disable=invalid-name,missing-class-docstring,dangerous-default-value,duplicate-code,missing-function-docstring,missing-module-docstring,no-member,import-error,no-name-in-module,unused-variable,too-many-locals,redefined-builtin,attribute-defined-outside-init,fixme,too-many-nested-blocks,eval-used,super-init-not-called,pointless-string-statement"

  # python-pycodestyle:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ricardochaves/python-lint@v1.4.0
  #       with:
  #         python-root-list: "dpugen"
  #         use-pylint: false
  #         use-pycodestyle: true
  #         use-flake8: false
  #         use-black: false
  #         use-mypy: false
  #         use-isort: false
  #         extra-pycodestyle-options: "--max-line-length=160"

  # python-mypy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: ricardochaves/python-lint@v1.4.0
  #       with:
  #         python-root-list: "dpugen"
  #         use-pylint: false
  #         use-pycodestyle: false
  #         use-flake8: false
  #         use-black: false
  #         use-mypy: true
  #         use-isort: false
  #         extra-mypy-options: ""
